{{extend 'layout.html'}}
<body>
	<span style="font-size:20px;color:grey">View By Category :</span>&nbsp;&nbsp;&nbsp;		
	{{for x in catg :}}
		<button onclick="window.location.href='{{=URL('first_page',args=[x.id])}}'">{{=x.name}}</button>
	{{pass}}
	<br/><br/><br/>
	{{if len(disp)==0 :}}
		<h2 style="color:grey;text-align:center">No News</h2>
	{{pass}}
	{{if(len(disp)!=0):}}
		{{for x in disp:}}
			<span style="font-size:20px;color:grey">{{=x.rating}}&nbsp;&nbsp;&nbsp;<br/>
			</span>&nbsp;&nbsp;&nbsp;<br/>
			{{if x.ntype=="Text" :}}
				<a href="{{=x.url}}" style="font-size:25px;color:brown">{{=x.heading}}</a>
				<div style="font-size:15px;color:red">{{=x.user_name}}</div>
				<div style="font-size:13px;color:red">{{=x.pres_time}}</div>
			{{pass}}
			{{if x.ntype=="Video" :}}
				<div style="font-size:25px;color:brown">{{=x.heading}}</div>
				<div style="font-size:15px;color:red">{{=x.user_name}}</div>
				<div style="font-size:13px;color:red">{{=x.pres_time}}</div><br/>
				{{if('youtube' in x.url ):}} 
					{{query1=x['url'].split('=')}} 
					{{url ="http://www.youtube.com/embed/"+(str)(query1[1]) }} 
					<iframe width="500" height="350" src={{=url}}> </iframe><br/><br/>
				{{pass}}				
			{{pass}}
			<hr/>
			{{for y in q_comment:}}
				{{if(int(y.news_id)==int(x.id)):}}
					<div style="font-size:20px;color:grey;text-align:right">{{=y.body}}</div>
					<div style="font-size:13px;color:red;text-align:right">{{=y.comm_time}}</div>
				{{pass}}
			{{pass}}	
			<hr/>
			<hr/>
		{{pass}}
	{{pass}}

	
</body>		
